  .example-margin {
    margin-left: 350px;
  }

  .margin-list {
    margin-left: 175px;
  }

  .comp-padding {
    padding-left: 190px;
  }
  
  .input-size {
    width: 400px;
  }

  .icon-padding {
    padding-right: 10px;
  }

  .wrapper {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: calc(100vh - 20px);
  }
  .inner {
    padding: 12px;
  }

  .icon-weather {
    cursor: default;
  }